
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab", serif;
    src: url(short-stack.woff2) format('woff2'), url(short-stack.woff) format('woff');
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}