<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snake</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Snake.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.4.2/pixi.min.js" integrity="sha512-PaaQR/Kf0+ItZTMVjdgJRUcrktec2B3m6XM+TiflUXy5hAF7eVys9dETQO4UX3/A/0H6KJf+e3D2VMVMlywAdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.pixiparticles.com/js/particle-emitter.js" type="text/javascript"></script>
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="btnMenu">
            <input type="button" class="btn btn-outline-secondary" value="Skip Intro" onclick="skipIntro()" />
            <input type="button" class="btn btn-outline-primary" value="Start Game" onclick="startGame()"/>
            <input type="button" value="Stop" onclick="stopGame()" /> &nbsp;
            <input type="button" onclick="showDebugInfo()" value="Debug Info" /> &nbsp; <input type="button" onclick="clearMoves()" value="Clear Debug" />
            &copy; 2025 - Snake - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>